data/GPSData
data/VibrationData
data/ml_model_data/training_data/**
data/ml_model_data/testing_data/**
data/ml_model_data/preds/preds_load_dump_testing.csv
__pycache__/**
.devcontainer/.zsh_history
tmp/**