pandas
notebook
numpy
scikit-learn
matplotlib
laspy
pydantic
pyproj
h5py
ipyleaflet
ipywidgets
opencv-python
geopy
plotly
nbformat
tqdm
seaborn
lightgbm==4.0.0
notebook
nbconvert
PyPDF2