.nav-link {
  display: inline-block;
  width: 150px;
  height: 55px;

  color: White;

  /* centering text */
  text-align: center;
  /* horizontally */
  line-height: 55px;
  /* vertically */

  text-decoration: none;
}

#logo {
  width: 120px;

  background-color: RoyalBlue;

  font-weight: bold;
}

#about {
  position: absolute;
  top: 0;
  right: 0;
}

#topnav {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  background-color: Black;

  font-family: Arial, sans-serif;
  font-size: 15px;
}

body {
  text-align: center;
  /* Center-align content within the body */
  width: 75%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

p {
  text-align: left;
  width: 100%;
}

iframe {
  border: none;
  /* This removes the border around the iframe */
}

h3 {
  text-align: left;
}

.container {
  display: flex;
  align-items: center;
}

.text {
  flex: 2;
  /* Adjust the flex value as needed */
  padding: 20px;
  /* Reduced padding */
  text-align: left;
}

.image img {
  max-width: 80%;
  height: auto;
  display: block;
}

/* Center the container */
.centered-textbox {
  text-align: center;
  /* Center-align the container */
  padding: 20px;
  margin: 0 auto;
  /* Horizontally center the container */
  width: 50%;
  /* Adjust the width as needed */
}

/* Left-align the text inside the container */
.left-aligned-text {
  text-align: left;
}

a {
  color: inherit;
}

/* Style for the iframe container */
.iframe-container {
  text-align: center;
}

/* Style for the iframe */
.responsive-iframe {
  width: 140%;
  /* Adjust the width as needed (e.g., 120% for wider than 100%) */
  height: 400px;
  /* Set the desired height */
  border: none;
  margin-left: -20%;
  /* Center horizontally */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

caption {
  text-align: center;
  font-weight: bold;
  margin-bottom: 15px;
  /* Add space below the caption */
}